<!-- block content adds header and bootstrap/styling to page -->
<!-- beginning body and html tags are included in block content, so only need to include the end tags for remainder of pages -->
{% block content %}
{% include "header.html" %}
{% endblock %}

    <div id="main">
        <!-- for loop to print product id, will need to pass the 'products' object through context so that for loop can iterate through each on and display on page -->
        <div class="grid-container">
                <!-- divs not in for loop to be deleted -->
                <div class="product">
                    <h3>{{bookList.0}}</h3>
                    <!--<h4>{{bookPrice.0}}</h4> -->
                    <img src="#" alt="add image id">
                    <p>Item Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor sit fuga nisi cum, dolorem suscipit consequatur cupiditate repellat tempore cumque necessitatibus aspernatur omnis veniam eligendi. Voluptatibus, est? Ullam, deserunt.</p>
                    <p>Price: $0.place holder</p>
                </div>
                <div class="product">
                    <h3>{{bookList.1}}</h3>
                    <!--<h4>{{bookPrice.1}}</h4> -->
                    <img src="#" alt="add image id">
                    <p>Item Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor sit fuga nisi cum, dolorem suscipit consequatur cupiditate repellat tempore cumque necessitatibus aspernatur omnis veniam eligendi. Voluptatibus, est? Ullam, deserunt.</p>
                    <p>Price: $0.place holder</p>
                </div>
                <div class="product">
                    <h3>{{bookList.2}}</h3>
                    <!--<h4>{{bookPrice.2}}</h4> -->
                    <img src="#" alt="add image id">
                    <p>Item Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor sit fuga nisi cum, dolorem suscipit consequatur cupiditate repellat tempore cumque necessitatibus aspernatur omnis veniam eligendi. Voluptatibus, est? Ullam, deserunt.</p>
                    <p>Price: $0.place holder</p>
                </div>
                <!-- ^^^^ to be deleted -->
        {% for product in products %}
            <div class="product">
                <img src="#" alt="add image id">
                <p>Item Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolor sit fuga nisi cum, dolorem suscipit consequatur cupiditate repellat tempore cumque necessitatibus aspernatur omnis veniam eligendi. Voluptatibus, est? Ullam, deserunt.</p>
                <p>Price: $0.place holder</p>

            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>